@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

body {
    font: var(--font-regular-400);
    color: var(--light-100-color);
    background-color: var(--dark-700-color);
    overflow: hidden;
}

.app {
    min-height: 100vh;
}
