* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing:border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

button {
    background-color: transparent;
    cursor: pointer;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

a {
    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }

    &:focus,
    &:active {
        outline: none;
    }

}


ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
