.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.cardWrapperClassName {
    width: 490px;
    height: 560px;
    object-fit: fill;
}

.rightBlock {
    background: var(--dark-300-color);
    width: 50%;
    padding: 12px;
}
