.rootContainer {
    flex: 1;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    margin-right: 24px;
}
