.Input {
    font: var(--font-m);
    font-weight: 400;
    color: var(--light-900-color);
}

.outline {
    border: none;
    border-bottom: 1px solid var(--dark-300-color);

    &:hover {
        border-bottom: 1px solid var(--light-900-color);
    }

    &:active {
        color: var(--light-100-color);
        border-bottom: 1px solid var(--light-100-color);
    }

    &:focus {
        color: var(--light-900-color);
        border: 1px solid var(--primary-color);
    }
  
    &:invalid {
        color: var(--light-100-color);
        border: 1px solid var(--danger-500-color);
    }
}

.outline.disabled {
    color: var(--dark-100-color);
    border: 1px solid var(--dark-100-color);
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
    padding: 6px 12px;
    gap: 9px;
    border: 1px solid var(--dark-300-color);
    border-radius: 2px;

    &:hover {
        border: 1px solid var(--light-900-color);
    }

    &:active {
        color: var(--light-100-color);
        border: 1px solid var(--light-100-color);
    }

    &:focus {
        color: var(--light-900-color);
        border: 1px solid var(--primary-color);
    }

    &:invalid {
        color: var(--light-100-color);
        border: 1px solid var(--danger-500-color);
    }
}

.search.disabled {
    color: var(--dark-100-color);
    border: 1px solid var(--dark-100-color);
}

