.Input {
    font: var(--font-m);
    font-weight: 400;
    color: var(--light-900-color);
}

.outline {
    display: block;
    border: none;
    border-bottom: 1px solid var(--dark-300-color);
    width: 279px;

    &:hover {
        border-bottom: 1px solid var(--light-900-color);
    }

    &:active {
        color: var(--light-100-color);
        border-bottom: 1px solid var(--light-100-color);
    }

    &:focus {
        color: var(--light-900-color);
        border: 1px solid var(--primary-color);
    }

    &:invalid {
        color: var(--light-100-color);
        border: 1px solid var(--danger-500-color);
    }
}

.outline.disabled {
    color: var(--dark-100-color);
    border: 1px solid var(--dark-100-color);
}

.password {
    background: transparent url("../../assets/icons/dark/eye-outline.svg") no-repeat right center;

    &:focus {
        background: transparent url("../../assets/icons/dark/eye-off-outline.svg") no-repeat right center;
    }
}

.search {
    display: block;
    border: 1px solid var(--dark-300-color);
    border-radius: 2px;
    align-items: center;
    height: 36px;
    font: var(--font-m);
    width: 277px;
    padding: 9px 4px 9px 40px;
    color: var(--light-900-color);
    background: transparent url("../../assets/icons/general/search.svg") no-repeat 11px center;

    &:hover {
        border: 1px solid var(--light-900-color);
        background: transparent url("../../assets/icons/general/search.svg") no-repeat 11px center;
    }

    &:active {
        color: var(--light-100-color);
        border: 1px solid var(--light-100-color);
    }

    &:focus {
        color: var(--light-900-color);
        border: 1px solid var(--primary-color);
    }

    &:invalid {
        color: var(--light-100-color);
        border: 1px solid var(--danger-500-color);
    }

}

.search.disabled {
    color: var(--dark-100-color);
    border: 1px solid var(--dark-100-color);
}