.avatarContainer {
    margin-top: 3em;
}

.avatar {
    position: relative;
    margin-bottom: 24px;
    width: 222px;

    .imageButton {
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 14%;
        left: 77.5%;
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
}

.avatar::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 12%;
    left: 76%;
    width: 24px;
    height: 24px;
    background: var(--dark-700-color);
    border-radius: 50%;
}
