.newPassword {
    .title {
        font: var(--font-h1);

        &:not(:last-child) {
            margin-bottom: 37px;
        }
    }

    .input {
        &:not(:last-child) {
            margin-bottom: 24px;
        }


        &.confirmation {
            &:not(:last-child) {
                margin-bottom: 36px;
            }
        }
    }

    button {
        width: 100%;
    }
}
