.rootWrapper {
    .title {
        font: var(--font-h1);

        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }

    .input  {
        &:not(:last-child) {
            margin-bottom: 24px;
        }

        &.confirmation {
            &:not(:last-child) {
                margin-bottom: 36px;
            }
        }
    }

    .button {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .helperText {
        color: var(--light-900-color);
        font-size: var(--font-size-medium);
        text-align: left;
        word-spacing: 4px;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .infoText {
        color: var(--light-100-color);
        font-size: var(--font-size-regular);
        text-align: left;
        margin-top: 11px;
        margin-bottom: 18px;
    }

    .error {
        color: var(--danger-500-color);
        margin-top: 30px;
    }

    .recaptcha {
        margin-top: 20px;
        transform:scale(1.22);
        transform-origin:0 0;
    }
}
