.signInBlock {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-500-color);

    .signInText {
        font: var(--font-h1);
        text-align: center;
    }

    .icons {
        display: flex;
        padding: 13px 123px 22px;
        justify-content: space-between;
    }

    .inputBlock {
        display: block;
    }

    .forgotPassword {
        a {
            color: var(--light-900-color);
            text-decoration: none;
        }
    }


    .button {
        display: block;
    }

    .text {
        display: flex;
    }

    .signUp {
        a {
            text-decoration: none;
            color: var(--primary-500-color);
        }
    }
}