.app_dark_theme {
    --bg-color: #3D3D3D;
    --inverted-bg-color: #e8e8ea;
    --light-color: #fff;
    --light-700-color: #D5DAE0;
    --light-900-color: #BDC1C7;
    --dark-color: #000;
    --dark-100-color: #4C4C4C;
    --primary-color: #397DF6;
    --primary-100-color: #73A5FF;
    --primary-700-color: #2F68CC;
    --primary-900-color: #234E99;
    --secondary-color: #049604;
    --inverted-primary-color: #010b2c;
    --inverted-secondary-color: #0752ff;

    // skeleton

    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code

    --code-bg: #1212a1;
}
