:root { // .app.light
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #397DF6;
    --primary-100-color: #73A5FF;
    --primary-700-color: #2F68CC;
    --primary-900-color: #234E99;
    --light-color: #fff;
    --light-700-color: #D5DAE0;
    --light-900-color: #BDC1C7;
    --dark-color: #000;
    --dark-100-color: #4C4C4C;
    --secondary-color: #0449e0;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;

    // skeleton

    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code

    --code-bg: #fff;
}
