.login {
    .title {
        font: var(--font-h1);

        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }

    .input  {
        &:not(:last-child) {
            margin-bottom: 24px;
        }

        &.confirmation {
            &:not(:last-child) {
                margin-bottom: 36px;
            }
        }
    }

    .button {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }


    .link {
        text-align: right;

        a {
            color: var(--light-900-color);
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .text {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    .error {
        color: var(--danger-500-color);

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}