.wrapper {
    padding-top: 60px ;

    .form {
        margin: 0 auto;
        text-align: center;
        max-width: calc(378px + 48px);
        min-width: calc(378px + 48px);
        padding: 24px 24px 36px;
        transition: background-color .5s;
        background-color: var(--dark-500-color);
        border: 1px solid  var(--card-entity-bg);
        border-radius: 2px;
    }
}
