
@import "app/styles/mixins/mixins";



.icon{
    transition: fill 0.5s;
}

// .react-datepicker__day.react-datepicker__day--today {
//     border: 2px solid green !important;
// }

.calendar_icon_group{
    width: 230px;
    height: 36px;
    padding: 6px 12px;
    position: relative;

    @include flex(row, center, flex-start);

    background-color: var(--dark-500-color);

    >:nth-child(2){
        >:nth-child(2){
            transform: none !important;
            position: absolute !important;
            left: 0 !important;
            top: 26px !important;
        }
    }

    &>:nth-child(2)>:nth-child(2)>div>div
        {
        border: 1px solid var(--dark-300-color) ;
        border-radius: 0.3rem;

        >:nth-child(1){
            display: none;
        }

        >:nth-child(3){
            >:nth-child(1){
                background-color: var(--dark-500-color);
                border: none;

                >:nth-child(2)>*{
                    color:var(--light-100-color)
                    
                }
            }

            >:nth-child(2){
                background-color: var(--dark-500-color);
                border: none;
                margin: 0;

           
            }
        }}

    &>div>div>input {
        background-color: transparent;
        color: var(--light-100-color);
        width: 75%;
    }

    .day{
        color: var(--light-100-color);
        background-color: var(--dark-500-color);

        &:hover{
            background-color: var(--primary-500-color);
            border: 2 px solid var(--primary-900-color);
            border-radius: 50%;
        }
    
    }

    .dayWhite{
        color: var(--light-100-color);
    }

    .dayGray{
        color: var(--dark-100-color);
    }
    
    .icon{
        width: 25%;
    }


    &:focus-within{
        width: 230px;

        .icon{
            transition: fill 0.5s;
           
        }
        
    }

   

}
