@import "app/styles/mixins/mixins";


.container{
    @include flex(row, space-between, center);

    margin-top: 10px;
    width: 100%;
    background-color: var(--dark-100-color );

}

.left_group{
    @include flex(row, flex-start, center);

    gap: 5%;
    flex: 11;
}