@import "app/styles/mixins/mixins";


.container{
    @include flex(row, space-between, center);

    margin: 10px 0;
    width: 100%;
}

.left_group{
    @include flex(row, flex-start, center);

    gap: 5%;
    flex: 11;
}