.container {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 40px;
}

.closeIconContainer {
    text-align: center;
    position: absolute;
    top: 0;
    right: 8px;
}

.nextIconContainer {
    background: var(--dark-300-color);
    /* stylelint-disable-next-line shorthand-property-no-redundant-values */
    padding: 4px 6px 2px 6px;
    text-align: center;
    align-self: center;
    margin-left: 10px;
}
