
@import "app/styles/mixins/mixins";


.header {
    @include flex(row, space-between, center);

    background-color: var(--dark-500-color);
    font:     var(--font-small-600);
    padding: 15px 33px;
}
  
.buttonBox {
    display: flex;
    gap: 1px;
    align-items: center;
    justify-content: center;
}

  
.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 24px;
    color: white;
    background-color: var(--dark-100-color);
  
   
}
