@import "app/styles/mixins/mixins";

.container {
    @include position(fixed, 0);
    @include flex(column, center, center);

    padding: 36px;
    z-index: 1;

    .overlay {
        @include position(fixed, 0);

        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 54%);
        z-index: 2;
    }

    .content {
        @include position(relative);
        
        z-index: 3;
        overflow: auto;
        min-width: 378px;
        min-height: 228px;

        .header {
            padding: 12px 24px;
            border-bottom: 1px solid var(--dark-100-color);

            @include flex($justify: space-between, $align: center);
        }
    } 

    .withStyles {
        border: 1px solid var(--dark-100-color);
        border-radius: 2px;
        background-color: var(--card-entity-bg);
    }
}
